!!!
%html
%head
  %title Docy Doc
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  
%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand Docy Doc
      %ul.nav.navbar-nav
        - if current_user
          - Category.all.each do |c| 
            %li= link_to c.name, jobs_path(category: c.name) 
          - if current_user.role == '0'
            %li= link_to "Admin", root_path
          - if current_user.role == '1'
            %li= link_to "View Jobs", root_path
            %li= link_to "New Job", new_job_path
          - if current_user.role == '2'
            %li= link_to "View Jobs", root_path
      - if current_user
        = link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-text navbar-right navbar-link"
      - else
        = link_to "Sign up", new_user_registration_path, class: "navbar-text navbar-right navbar-link"
        = link_to "Login", new_user_session_path, class: "navbar-text navbar-right navbar-link"
        
        
      
      //= render 'devise/menu/login_items'
  .container
    = yield
